<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Resume</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="./css/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>
<nav th:fragment="navbarfragement" class="navbar navbar-expand-lg navbar-light bg-light">
<!--<div class="row" th:fragment="navbar">-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li><a href="#" class="navbar-left"><img src="image/logo.jpg" width="100px" length="100"></a></li>
            <li class="nav-item" th:classappend="(${active}=='home')? 'active':''">
                <a class="nav-link" href="/">Home <!-- <span class="sr-only">(current)</span>--></a>
            </li>
            <li class="nav-item" th:classappend="(${active}=='Image')? 'active':''">

            </li>

            <li class="nav-item" th:classappend="(${active}=='link')? 'active':''">
                <a class="nav-link" href="summary.html">Summary</a>
            </li>
            <li class="nav-item" th:classappend="(${active}=='link')? 'active':''">
                <a class="nav-link" th:href="@{/contact}">Contact Information</a>
            </li>
            <li class="nav-item" th:classappend="(${active}=='link')? 'active':''">
                <a class="nav-link" th:href="@{/a}">Education</a>
            </li>
            <li class="nav-item" th:classappend="(${active}=='link')? 'active':''">
                <a class="nav-link" th:href="@{/c}">Skills</a>
            </li>
            <li class="nav-item" th:classappend="(${active}=='link')? 'active':''">
                <a class="nav-link" th:href="@{/b}">Experience</a>
            <li class="nav-item" th:classappend="(${active}=='link')? 'active':''">
                <a class="nav-link" th:href="@{/refrence}">Refrences</a>
        </li>
            <li class="nav-item" th:classappend="(${active}=='link')? 'active':''">

            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    View
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/coverletter}">Cover Letter</a>
                    <a class="dropdown-item" th:href="@{/resume}">resume</a>

                </div>
            </div>

        <!--</ul>-->
        <!--<form class="form-inline my-2 my-lg-0">-->
            <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"/>-->
            <!--<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->
        </ul>
    </div>
</div>
</nav>
<!--<P><img src="images/b.jpg" alt="Logo" width="100px" length="100"></P>-->

<div class="container">
    <div class="jumbotron">
       <h1>My Resume</h1>
<p>Bishnu Subedi</p>
<p> Subedib0@gmail.com</p>
    </div>

</div>
<div class="container">
   <div>

           <h3> Education</h3>
      </p> M.S., Computer Information Science <br/>
       Dec. 2016 American College of Commerce and Technology , Falls Church VA</p>

     <p>  B.S., Computer Information Systems, Sept. 2015,<br/>
       American College of Commerce and Technology, Falls Church VA<br/></p>
       <p>  A.A.S, Information Technologies, May 2013,<br/> Montgomery College, Rockville MD<br/>

       </p>
            <a href="/education"> Add Education</a>

    </div>

<div>
            <h4> Experience</h4>
            Care manager/ Med Tech<br/>
    <p> Sunrise Senior Living, Silver Spring MD and Falls Church VA, Jan 2013 - Present</p>

            Retail Associate<br/>
    <p>MC Books and More, Montgomery College, Rockville, MD	Aug 2010 -May 2013</p>
            <a href="/experience ">Add Experience</a><br/>
        </div>
<div>
            <h4> Skills</h4>
            SQL<br/>
            Java<br/>
            <a href="/skill"> Add Skills</a><br /> <br />

    </div>
</div>


<div class="container"><a href="/add"> Add Resume</a><br />

<div th:each="resume : ${resumes}">
    <p th:text="${resume.name}"></p>
    <h3> phone</h3>
    <p th:text="${resume.phone}"></p>
    <h3> Email</h3>
    <p th:text="${resume.email}"></p>
     <a th:href="@{/update/resume/{id}(id=${resume.id})}"> Update Resume</a>
<!--</div>-->

<!--<a href="/education"> Add Education</a><br />-->

<!--<div th:each="education : ${educations}">-->
<!--<p th:text="${education.major}"></p>-->

<!--<p th:text="${education.level}"></p>-->

<!--</div>-->
<!--<a href="/experience ">Add Experience</a><br/>-->

<!--<div th:each="experience : ${experiences}">-->
    <!--<p th:text="${experience.developer}"></p>-->

    <!--<p th:text="${experience.developer1}"></p>-->

<!--</div>-->

<!--<a href="/skill"> Add Skills</a><br />-->
<!--<div th:each="skill : ${skills}">-->
    <!--<p th:text="${skill.java}"></p>-->

    <!--<p th:text="${skill.sql}"></p>-->

<!--</div>-->
<!--</div>div-->





<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>