<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Resume</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="./css/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>
<nav th:fragment="navbarfragement" class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="(${active}=='home')? 'active':''">
                <a class="nav-link" href="#">Home <!-- <span class="sr-only">(current)</span>--></a>
            </li>
            <li class="nav-item" th:classappend="(${active}=='Image')? 'active':''">
                <a class="nav-link" href="#">Logo <!-- <span class="sr-only">(current)</span>--></a>
            </li>

            <li class="nav-item" th:classappend="(${active}=='link')? 'active':''">
                <a class="nav-link" href="summary.html">Summary</a>
            </li>
            <li class="nav-item" th:classappend="(${active}=='link')? 'active':''">
                <a class="nav-link" th:href="@{/borrowedbooks}">Contact Information</a>
            </li>
            <li class="nav-item" th:classappend="(${active}=='link')? 'active':''">
                <a class="nav-link" th:href="@{/availablebooks}">Education</a>
            </li>
            <li class="nav-item" th:classappend="(${active}=='link')? 'active':''">
                <a class="nav-link" th:href="@{/listbooks}">Skills</a>
            </li>
            <li class="nav-item" th:classappend="(${active}=='link')? 'active':''">
                <a class="nav-link" th:href="@{/listbooks}">Experience</a>
            <li class="nav-item" th:classappend="(${active}=='link')? 'active':''">
                <a class="nav-link" th:href="@{/listbooks}">Refrences</a>
            </li>

            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<P><img src="images/b.jpg" alt="Logo" width="100px" length="100"></P>

 <h1>My Resume</h1>
<p>Bishnu Subedi</p>
<p> Subedib0@gmail.com</p>

<div class="container">
    <div class="row">
        <div class="col-sm">
           <h3> Education</h3>


            MS in Computer Information Science,
            2016 <br/>

            BS in Computer Information System,
            2014 <br/>

            AAS in Information Technology 2013<br />
            <a href="/education"> Add Education</a>

        </div>
        <div class="col-sm">

            <h4> Experience</h4>
            Care manager/ Med Tech<br/>

            Retail Associate<br/>
            <a href="/experience ">Add Experience</a><br/>
        </div>
        <div class="col-sm ">
            <h4> Skills</h4>
            SQL<br/>
            Java<br/>
            <a href="/skill"> Add Skills</a><br /> <br />
        </div>
    </div>
</div>


<a href="/add"> Add Resume</a><br />

<div th:each="resume : ${resumes}">
    <p th:text="${resume.name}"></p>
    <h3> phone</h3>
    <p th:text="${resume.phone}"></p>
    <h3> Email</h3>
    <p th:text="${resume.email}"></p>
</div>

<a href="/education"> Add Education</a><br />

<div th:each="education : ${educations}">
<p th:text="${education.major}"></p>

<p th:text="${education.level}"></p>

</div>
<a href="/experience ">Add Experience</a><br/>

<div th:each="experience : ${experiences}">
    <p th:text="${experience.developer}"></p>

    <p th:text="${experience.developer1}"></p>

</div>

<a href="/skill"> Add Skills</a><br />
<div th:each="skill : ${skills}">
    <p th:text="${skill.java}"></p>

    <p th:text="${skill.sql}"></p>

</div>



<!--<p th:text="${resume.education}"></p>-->
<!--<a th:href="@{/education}"> Add Education</a><br />-->
<!--<p> <B>Master in Computer Science</B></p>-->
<!--<p th:text="${resume.bachelor}"></p>-->
<!--<body> <B>Bachelor in Computer Science</B></body>-->
<!--<p th:text="${resume.bachelor}"></p>-->
<!--<h3> Experience</h3>-->
<!--<p th:text="${resume.experience}"></p>-->
<!--<a href="@{/experience/{id}(id=${resume.id})}"> Add Experiences</a><br />-->
<!--<p> Software Developer</p>-->
<!--<p th:text="${resume.developer}"></p>-->
<!--<p> Software Developer</p>-->
<!--<p th:text="${resume.developer}"></p>-->
<!--<h3> Skill</h3>-->
<!--<p th:text="${resume.Skill}"></p>-->



</body>
</html>