<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">>>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="./css/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>
<nav th:replace="confirm :: navbarfragement"></nav>
<div class="container">
    <div>
<h3>Please find the references below:</h3>

<p>Name:  Bishnu Subedi</p>

<p>Position:  Software Developer</p>

<p>email: subedib0@gmail.com</p>
<p>  LinkedIn: <a href="https://www.linkedin.com/"></a>Link </p>
 GitHub: <a href="https://github.com/"></a>Click Here </p>

<p>Phone: 772-934-4455</p>
    </div>

</div>

<p>Thank you</p>
<div th:replace="confirm :: scriptfragement"></div>
</body>
</html>