<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">>>>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
<link href="./css/stylesheet.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<body>

<nav th:replace="confirm :: navbarfragement"></nav>
<p class="text-center">Date 2/16/2018</p>
<div class="container">To Whom It May Concern:
I am very interested in the entry-level Developer opening at Company that was posted on 2/16/18. I have the skills required for the position as well as a strong interest in Company. I hope to have an opportunity to speak directly with someone at the company.

I have completed all but two classes for my MS in Computer Information Science at American College of Commerce and Technology in Falls Church with a 4.0 GPA. I earned my Bachelor Degree there last September and am now seeking a full time position in IT while completing my MS credits online.
In addition to my college courses, I am working of Java Boot Camp at Montgomery College. I have gained a solid understanding of different kinds of programming language as well as tools. I have solid understanding on different Methodologies like waterfall and agile. I am good at back end testing using SQL and have also completed training for business analysis, including requirements gathering and preparing business requirement documents, as well as creating diagrams to clarify requirements. I also designed a college admission system for my MS capstone project. My role included database design using Oracle as well as testing the back end and user interface.
If you do not wish to consider me for your posted job, I will be interested on any entry level position which you may have available. I’m flexible as to employment location anywhere in the United States.

    <br/> My resume is attached for your consideration.<br/> <br/><br/>

    Sincerely,<br/><br/><br/>

    Bishnu Subedi<br/>
    bsubedi03@outlook.com<br/>
    301-351-7294
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>