<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="./css/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>

<nav th:replace="confirm :: navbarfragement"></nav>

<div class="container">
    <div>


        <h3> Education</h3>
        </p> M.S., Computer Information Science <br/>
        Dec. 2016 American College of Commerce and Technology , Falls Church VA</p>

        <p>  B.S., Computer Information Systems, Sept. 2015,<br/>
            American College of Commerce and Technology, Falls Church VA<br/></p>
        <p>  A.A.S, Information Technologies, May 2013,<br/> Montgomery College, Rockville MD<br/>

        </p>
        <a href="/education"> Add Education</a>
        <div class="container"><a href="/addeducation"> Add Resume</a><br />



        </div>
    </div>

    </div>

    <div>

<form th:action="@{/educationprocess}" th:object="${education}" method="post">
    <input type ="hidden" th:field=" *{id}"/>
    Level:<input type="text" th:field=" *{level}"/>
    <span th:if="${#fields.hasErrors('level')}"
          th:errors="*{level}"></span><br/>

    Major:<input type="text" th:field=" *{major}"/>
    <span th:if="${#fields.hasErrors('major')}"
          th:errors="*{major}"></span><br/>

    <input type="submit" value="submit" />


</form>

    </div>
<div th:replace="confirm :: scriptfragement"></div>

  <!--<p>  <label for="Image">Image URL</label>-->
      <!--<input th:field="${logo.image}" type="text" placeholder="Please Enter Image URL" />-->

<!--</p>-->
</body>
</html>