<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="./css/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>

<nav th:replace="confirm :: navbarfragement"></nav>

<div class="container">
    <div>


        <h3> Education</h3>
        </p> M.S., Computer Information Science <br/>
        Dec. 2016 American College of Commerce and Technology , Falls Church VA</p>

        <p>  B.S., Computer Information Systems, Sept. 2015,<br/>
            American College of Commerce and Technology, Falls Church VA<br/></p>
        <p>  A.A.S, Information Technologies, May 2013,<br/> Montgomery College, Rockville MD<br/>

        </p>
        <a sec:authorize="hasAuthority('APPLICANT')"href="/education"> Add Education</a>


            <div th:each="education : ${educations}">
                <p th:text="${education.major}"></p>
                <h3> major</h3>
                <p th:text="${education.level}"></p>
                <h3> Level</h3>

                <a th:href="@{/update/education/{id}(id=${education.id})}"> Update Education</a>
            </div>

        </div>
    </div>






<!--<p>  <label for="Image">Image URL</label>-->
<!--<input th:field="${logo.image}" type="text" placeholder="Please Enter Image URL" />-->

<!--</p>-->
</div>
</body>
</html>