<!DOCTYPE html>
<html lang="en"xmlns:th="www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">>
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="./css/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>
<nav th:replace="confirm :: navbarfragement"></nav>



<!--<a href="/confirm">Applicant</a>-->
<!--<a href="/addroom">Employer</a>-->
<!--<h1>Welcome to the main page. You should see this as soon as you log in.</h1>-->
<!--<h3 sec:authorize="hasAuthority('EMPLOYEE')">You can see this because you are an Employer</h3>-->

<!--<h3 sec:authorize="hasAuthority('APPLICANT')">You can see this because you are an ordinary Applicant</h3>-->
<div th:if="${param.error}">
    Invalid username and password.</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div>
        <lable>User Name:<input type ="text" name="username"/></lable>
    </div>
    <div>
        <lable>Pass Word:<input type ="password" name="password"/></lable>

    </div>

    <div> <input type="submit" value = "Sign In"/></div>



</form>

<div th:replace="confirm :: scriptfragement"></div>
</body>

</html>