<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="./css/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>

<nav th:replace="confirm :: navbarfragement"></nav>

<div class="container">
    <div>


        <h4> Skills</h4>
        SQL<br/>
        Java<br/>
        <a href="/skill"> Add Skills</a>


        <div th:each="skill : ${skills}">
            <p th:text="${skill.Java}"></p>
            <h3> SQL</h3>
            <p th:text="${skill.sql}"></p>
            <h3> Java</h3>

            <a th:href="@{/update/skill/{id}(id=${skill.id})}"> Update Skills</a>
        </div>

    </div>
</div>






<!--<p>  <label for="Image">Image URL</label>-->
<!--<input th:field="${logo.image}" type="text" placeholder="Please Enter Image URL" />-->

<!--</p>-->
</div>
</body>
</html>